.color_picker {
	padding: 1rem;
	border-radius: 3px;
	background: aliceblue;
	color: black;
	overflow: auto;
	display: flex;
}

@media screen and (max-width: 700px) {
	.color_picker {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		max-width: 340px;

		.color_info {
			margin: 0;
		}

		.color_preview {
			margin-top: 2rem;
		}
	}
}

.gradient_canvas_container {
	position: relative;
	width: 300px;
	height: 300px;
	margin: 0 0 1rem 0;

	canvas {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;

		&:hover {
			cursor: pointer;
		}
	}
}

.canvas_bg_checkered {
	background-image: linear-gradient(45deg, #acacac 25%, transparent 25%),
		linear-gradient(-45deg, #acacac 25%, transparent 25%),
		linear-gradient(45deg, transparent 75%, #acacac 75%),
		linear-gradient(-45deg, transparent 75%, #acacac 75%);
	background-size: 20px 20px;
	background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
	height: 100%;
	width: 100%;
}

.canvas_cursor {
	position: absolute;
	top: 0;
	left: 0;
	border: 3px solid black;
	border-radius: 50%;

	div {
		width: 100%;
		height: 100%;
		border: 2px solid white;
		border-radius: 50%;
	}
}

.range_inputs_container {
	input[type="range"]::-webkit-slider-runnable-track {
		width: 300px;
		height: 14px;
		border: none;
		border-radius: 10px;
	}

	input[type="range"]::-webkit-slider-thumb {
		-webkit-appearance: none;
		height: 22px;
		width: 22px;
		border-radius: 50%;
		background: var(--thumb-color);
		border: 1px solid black;
		transform: translateY(-18%);
	}

	input[type="range"]::-moz-range-track {
		width: 300px;
		height: 14px;
		border: none;
		border-radius: 10px;
	}

	input[type="range"]::-moz-range-thumb {
		height: 16px;
		width: 16px;
		border-radius: 50%;
		background: var(--thumb-color);
		border: 1px solid black;
	}
}

.hue_range_input {
	-webkit-appearance: none;
	width: 300px;
	height: 14px;
	border-radius: 10px;
	padding: 0;
	background: linear-gradient(
		to right,
		rgb(255, 0, 0) 0%,
		rgb(255, 255, 0) 17%,
		rgb(0, 255, 0) 33%,
		rgb(0, 255, 255) 50%,
		rgb(0, 0, 255) 67%,
		rgb(255, 0, 255) 83%,
		rgb(255, 0, 0) 100%
	);

	&:hover {
		cursor: pointer;
	}
}

.alpha_range_input {
	-webkit-appearance: none;
	width: 300px;
	height: 14px;
	border-radius: 10px;
	padding: 0;

	&:hover {
		cursor: pointer;
	}
}

.alpha_background_checkered {
	background: linear-gradient(45deg, #acacac 25%, transparent 25%),
		linear-gradient(-45deg, #acacac 25%, transparent 25%),
		linear-gradient(45deg, transparent 75%, #acacac 75%),
		linear-gradient(-45deg, transparent 75%, #acacac 75%);
	background-size: 10px 10px;
	background-position: 0 0, 0 5px, 5px -5px, -5px 0px;
	display: flex;
	border-radius: 3px;
	margin-top: 1rem;
	border-radius: 20px;
}

.color_info {
	max-width: 300px;
	margin-left: 3rem;
	color: black;

	fieldset {
		margin: 1rem 0;
		padding: 0;
		border: none;
		display: flex;
		justify-content: space-between;
	}

	input {
		padding: 0.4rem 0.2rem;
		font-size: 1.4rem;

		&[type="number"] {
			width: 60px;
		}
	}
}

.color_preview {
	max-width: 320px;
	height: 60px;
	border-radius: 3px;
}
