@import "./reset.css";
@import "./variables.css";
@import "./navbar.scss";
@import "./code.scss";
@import "./blogpost.scss";

@font-face {
	src: url("../public/fonts/Inter-Var.woff2") format("woff2"),
		url("../public/fonts/Inter-Var.ttf") format("truetype");
	font-family: "Inter";
	font-weight: 100 900;
	font-display: swap;
}

// text select

::selection {
	background: var(--text-selected);
}

a:hover,
button:hover {
	cursor: pointer;
}

html,
body {
	// width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

html {
	font-size: 62.5%;
	line-height: 1.5;
}

body {
	font-size: 10px;
	background-color: var(--bg);
	transition: var(--transition-bg);
	font-weight: 400;
	font-family: "Inter", Arial, Helvetica, sans-serif;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	margin-left: calc(100vw - 100%);
}

// TODO: messes up non white text
// body[data-theme="dark"] {
// 	font-weight: 300;
// }

body.menu-open {
	overflow: hidden;
	max-height: -webkit-fill-available;

	#__next {
		overflow: hidden;
	}
}

* {
	transition: inherit;
	font-family: inherit;
}

section {
	padding: 1rem;
	display: flex;
	flex-direction: column;
}

p {
	font-size: 1.8rem;
}

h1 {
	font-size: 3.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
	font-weight: 600;
}

*:focus {
	outline: 2px solid var(--accent-color);
}

/* #root div */
#__next {
	box-sizing: border-box;
	min-width: 0px;
	max-width: 70rem;
	padding: 0 0 2rem 0;
	flex-direction: column;
	display: flex;
	margin: 0px auto;
	color: var(--text-color);
	font-size: 2rem;
}

svg {
	width: 24px;
	height: 24px;
	fill: var(--text-color);
	stroke: transparent;

	&.sun,
	&.moon {
		fill: var(--darkmode-toggle-color);
	}
}

.project {
	border-radius: 3px;
	margin: 2rem 0;
	background: var(--base-bg);
	box-shadow: var(--card-shadow);
	padding: 1rem;
	display: flex;
	justify-content: flex-start;

	.img-wrapper {
		width: 300px;
		flex-shrink: 0;
		overflow: hidden;
		height: 150px;
		max-height: 150px;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			display: block;
		}
	}

	.project-body {
		margin-left: 1rem;
		flex-grow: 1;
		position: relative;
		// overflow-x: hidden;

		p {
			margin-top: 1rem;
			word-break: break-all;
			text-overflow: ellipsis;
			word-wrap: break-word;
		}
	}

	h4 {
		padding: 5px 0;
	}

	.links {
		display: flex;
		align-items: center;
		position: absolute;
		top: 0;
		right: 0;

		div {
			display: flex;
		}
		a {
			margin-left: 1rem;
			display: inline-block;
			padding: 0.8rem 1rem;
			border-radius: 3px;

			&:hover {
				background-color: var(--opacity-bg);
			}
		}

		.link {
			font-size: 1.4rem;
			border-radius: 3px;
			font-weight: 600;
			font-family: "Inter";
			line-height: 1.4rem;
			letter-spacing: 1px;
			margin-left: 1rem;
			display: inline-block;
			padding: 0.8rem 1rem;
			border-radius: 3px;

			&.live {
				background-color: var(--blog-title-highlight);
				&:hover {
					background-color: var(--blog-title-highlight);
				}
			}

			&.disabled {
				color: var(--disabled);
				background: var(--opacity-bg);
				&:hover {
					cursor: default;
				}
			}
		}
	}
}

// TODO: better styling
.blog-search {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 3rem 0 2rem 0;

	.search-wrapper {
		width: 70%;
		display: flex;
		position: relative;
		background: var(--opacity-bg);

		svg {
			position: absolute;
			top: 9px;
			left: 9px;
		}
		input {
			padding: 1rem 1rem 1rem 4rem;
			font-size: 1.6rem;
			width: 100%;
			border-radius: 3px;
			border: 1px solid rgb(119, 119, 151);
			background: transparent;
			color: var(--text-color);
		}
	}

	.search-tags {
		margin-top: 1rem;
		width: 70%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;

		button {
			margin: 0 0.6rem 0.6rem 0;
			flex-shrink: 0;
			padding: 0.6rem 0.8rem;
			font-size: 1.2rem;
			background: var(--accent-bg);
			color: var(--text-color);
			border: none;
			border-radius: 3px;
			font-weight: 500;
		}
	}
}

.blog-post-list-preview {
	list-style-type: none;

	li {
		display: grid;
		margin: 2rem 0 5rem 0;
		padding: 1rem;
		grid-template-rows: repeat(2, minmax(min-content, max-content));
		grid-template-columns: 1fr minmax(min-content, max-content);
		align-items: center;
		justify-content: flex-start;
		grid-column-gap: 1rem;
		column-gap: 1rem;
	}

	a {
		border-radius: 3px;
		transition: background-color 0.2s ease;

		&:hover {
			background-color: var(--blog-title-highlight);
		}
	}

	h2 {
		word-wrap: break-word;
		padding: 0.2rem 1rem;
		font-weight: 900;
	}

	.body {
		padding: 0 1rem 0.6rem 1rem;
		margin-top: 1rem;
		p {
			margin-top: 2rem;
			font-size: 1.8rem;
		}
	}
}

.date {
	padding: 0.6rem 1rem;
	background: var(--opacity-bg);
	border-radius: 3px;
	font-size: 1.4rem;
	flex-shrink: 0;
}

.tag {
	font-size: 1.2rem;
	font-weight: 600;
	font-family: "Inter";
	padding: 0.6rem 1rem;
	border-radius: 3px;
	margin-right: 1rem;
	color: var(--accent-color);
	background: var(--light-bg);
	display: inline-block;
}

// blog index pagination
// TODO: better styling
.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 4rem;
	transition: none;

	button {
		padding: 0.6rem 1.2rem;
		border: none;
		background: transparent;
		border-radius: 3px;
		border: 2px solid transparent;
		margin: 0 0.4rem;
		display: flex;
		font-size: 1.6rem;
		font-weight: 500;
		color: var(--text-color);

		&.disabled {
			border-color: var(--disabled);
			pointer-events: none;

			svg {
				fill: var(--disabled);
			}
		}

		&:hover {
			background: var(--opacity-bg);
		}

		&.current {
			background: var(--accent-bg);
			&:hover {
				background: var(--accent-bg);
			}
		}

		&.nav {
			border-color: var(--opacity-bg-heavy);
		}

		svg {
			width: 28px;
			height: 28px;
		}
	}
}

.section-about {
	.about-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	p {
		margin-top: 2rem;
	}

	strong {
		color: var(--highlight-color);
	}
}

.work-status {
	margin-top: 4rem;
	padding: 2rem;
	color: #2e343b;
	align-self: flex-start;
	border-radius: 3px;

	strong {
		color: #2e343b;
	}

	&.searching {
		background-color: rgb(220, 247, 220);
		border-left: 0.5rem solid rgb(21, 150, 21);
	}

	&.employed {
		background-color: rgb(250, 210, 243);
		border-left: 0.5rem solid rgb(235, 28, 173);
	}

	p {
		margin: 0;
	}

	.email {
		margin-top: 1rem;
	}
}

.socials {
	a {
		padding: 0.8rem 1.2rem;
		display: inline-block;
		border-radius: 3px;

		&:hover {
			background-color: var(--opacity-bg);
		}
	}

	div {
		display: flex;
		align-items: center;
	}

	svg {
		width: 3rem;
		height: 3rem;
		fill: var(--text-color);
	}
}

.section-missing {
	justify-content: center;
	align-items: center;
	padding-top: 20rem;
	color: var(--text-color);

	h1 {
		font-size: 10rem;
	}

	p {
		margin: 1rem 0;
	}

	h3 {
		margin-top: 5rem;
	}
}

.nav-missing {
	margin-top: 4rem;

	ul {
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		padding: 2rem;
		background: var(--accent-bg);
		border-radius: 3px;
	}

	a {
		margin: 0 4rem;
	}
}

@import "./media.scss";
