@media screen and (min-width: 40rem) {
	#__next {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@media screen and (max-width: 410px) {
	.project {
		padding-bottom: 40px;

		.links {
			bottom: 0;
			top: calc(100% + 15px);
		}
	}
}

@media screen and (max-width: 500px) {
	.nav-wrapper {
		transition: none;
		display: flex;
		justify-content: space-between;
		padding: 0 1rem;

		.darkmode-toggle {
			margin-left: unset;
		}

		.menu-btn {
			display: unset;
			height: 40px;
			width: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&.open {
			z-index: 5;
			position: fixed;
			width: 100vw;
			height: 100%;
			margin: 0;
			background: var(--bg);
			overflow: hidden;
			flex-direction: column-reverse;
			justify-content: flex-end;
			padding-top: 2rem;

			nav {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: flex-start;
				padding-top: 5rem;
				z-index: 5;

				ul {
					flex-direction: column;
					z-index: 5;

					li {
						margin-bottom: 1rem;
						z-index: 5;
						a {
							display: flex;
							align-items: center;

							span {
								margin-left: 2rem;
							}
						}
					}

					svg {
						display: unset;
					}
				}
			}

			.darkmode-toggle {
				display: none;
			}

			.menu-btn {
				align-self: flex-end;
			}
		}

		&.closed {
			nav {
				display: none;
			}
		}
	}

	.blog-post-list-preview {
		.head {
			flex-direction: column-reverse;
			margin-bottom: 0.5rem;
			align-items: flex-start;

			.date {
				margin-left: auto;
			}
		}
	}

	.section-about {
		.about-title {
			flex-direction: column;

			.socials {
				display: flex;
				justify-content: flex-start;

				span {
					display: none;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.section-missing {
		padding-top: 10rem;

		h1 {
			font-size: 6rem;
		}

		.nav-missing {
			ul {
				flex-direction: column;
			}

			li {
				margin: 2rem 0;
			}
		}
	}
}

@media screen and (max-width: 760px) {
	.section-portfolio {
		align-items: center;
	}

	.about-title {
		span {
			display: none;
		}
	}

	.project {
		flex-direction: column;
		align-items: center;
		width: 80%;
		min-width: 280px;

		.img-wrapper {
			transform-origin: center;
			// transform: scale(0.9);
			width: 100%;
		}

		.project-body {
			width: 100%;
			margin-top: 0.6rem;
		}
	}
}
