.nav-wrapper {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 60px;
	column-gap: 2rem;
	grid-column-gap: 2rem;
	padding: 0.6rem 0 0 0;

	.darkmode-toggle {
		justify-self: center;
		align-self: center;
		display: flex;

		&.no-js-hidden {
			display: none;
			pointer-events: none;
		}
	}

	.menu-btn {
		display: none;
	}

	a,
	button {
		padding: 0.8rem 1rem;
		border: none;
		border-radius: 3px;
		background: transparent;
		&:hover {
			background: var(--opacity-bg);
		}
	}

	.menu-bg-svg {
		display: none;
	}
}

.navbar {
	width: 100%;

	ul {
		list-style-type: none;
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-items: flex-end;
		color: var(--text-color-bold);
	}

	li {
		svg {
			display: none;
		}
	}

	a {
		display: flex;
		align-items: center;
		font-weight: 900;
		&.current {
			// font-weight: 400;
			color: var(--accent-color);
		}
	}

	.logo {
		justify-self: flex-start;
	}
}
