.nav-wrapper {
	margin-top: 2rem;
	margin-bottom: 3rem;
	display: flex;
	position: relative;

	ul {
		list-style-type: none;
		display: flex;
	}

	.darkmode-toggle {
		margin-left: auto;
		padding: 0.8rem 1rem;
		display: flex;
		border: none;
		border-radius: 3px;
		background: transparent;

		&:hover {
			background: var(--opacity-bg);
		}
	}

	.menu-btn {
		display: none;
		background: transparent;
		border: none;
		padding: 0 0.4rem;

		svg {
			fill: var(--text-color);
			width: 3rem;
			height: 3rem;
			margin-top: 0.2rem;
			line {
				fill: none;
				stroke: black;
				stroke-linecap: round;
				stroke-miterlimit: 10;
				stroke-width: 32px;
			}
		}
	}
}

nav {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	a {
		color: var(--text-color);
		font-size: 2rem;
		font-weight: 500;
		margin-right: 3rem;
		padding: 0.8rem 1.2rem;
		border-radius: 3px;

		&:hover {
			background-color: var(--opacity-bg);
		}

		&.current {
			color: var(--highlight-color);
			font-weight: 600;
			background-color: transparent;

			svg {
				fill: var(--highlight-color);
			}
		}

		svg {
			display: none;
		}
	}
}
