.nav-wrapper {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 60px;
	column-gap: 2rem;
	grid-column-gap: 2rem;

	.darkmode-toggle {
		justify-self: center;
		align-self: center;

		display: flex;
	}

	.menu-btn {
		display: none;
	}

	a,
	button {
		padding: 0.8rem 1rem;
		border: none;
		border-radius: 3px;
		background: transparent;
		&:hover {
			background: var(--opacity-bg);
		}
	}

	.menu-bg-svg {
		display: none;
	}
}

.navbar {
	width: 100%;

	ul {
		list-style-type: none;
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-items: flex-end;
	}

	li {
		svg {
			display: none;
		}
	}

	a {
		display: flex;
		align-items: center;
	}

	.logo {
		justify-self: flex-start;
		svg {
			width: 48px;
			height: 48px;
			display: block;
		}

		span {
			display: inline-block;
			font-size: 1.6rem;
			font-weight: 700;
			margin-left: 0.4rem;
			line-height: 1.6rem;
		}
	}
}
