[data-theme="light"] {
	--bg: #fafbfc;
	--light-bg: #f6ecff;
	--opacity-bg: rgb(231, 236, 255);
	--text-color: #314150;
	--text-color-bold: #151944;
	--accent-color: #7646fd;
	--accent-bg: #c9bbf7;
	--link-highlight: #ccb9ff;
	--paragraph-weight: 400;
	--separator: rgb(196, 195, 201);
	--img-filters: brightness(1) contrast(1);
}

[data-theme="dark"] {
	--bg: #1d1f27;
	--light-bg: #2a3044;
	--opacity-bg: rgba(255, 255, 255, 0.05);
	--text-color: #e4e1f1;
	--text-color-bold: #fafbfc;
	--accent-color: #ffa7c4;
	--accent-bg: #be4a99;
	--link-highlight: #ff85ae;
	--paragraph-weight: 300;
	--separator: rgba(169, 171, 196, 0.589);
	--img-filters: brightness(0.9) contrast(1.1);
}
